# Project specific
[bB][uU][iI][lL][dD]
[bB][uU][iI][lL][dD][dD][iI][rR]
subprojects/Ren
imgui.ini
.vscode
.vscode/*
subprojects/imgui*
subprojects/vscode-meson-config
packagecache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
